.container{
   margin: auto 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color:rgb(176,230,243);
   width: 100vw;
   height: 100vh;
}
.top{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 60%;
   
}
.bottom{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 40%;
  
}
#keyboard{
   margin-left: 320px;
   display: table;
   width: 55%;
   align-items: center;
   text-align:center;
   justify-content: row;
}



#keyboard Input[Type="Button"] {
   Padding: 25px 35px;
   
    Border-Radius: 60px;
    Border: 3px Solid #202c2b;
    Background: #13ab9e;
    Color: #Fff;
    Text-Transform: Uppercase;
    height: 26px;
    width: 30px;
    cursor: pointer;
}